<div class="container py-1">
  <div class="overflow">
    <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
<footer class="bg-inverse text-muted py-2 pb-3">
  <div class="container">
    <div class="overflow">
      <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</footer>

<nav class="navbar navbar-fixed-bottom bg-danger text-xs-center if-clock">
  <div class="clock text-white">優惠僅剩 07天 10時 01分 56秒</div>
</nav>

<div class="fab-fixed-wrap with-navbar-bottom">
  <a href="https://line.me/R/ti/p/%40sbf9602c" target="_blank" class="fab fab-line mp-click mb-1 hidden-md-up" title="LINE 客服">
    <span class="h5 m-b-0">
      LINE
    </span>
  </a>
  <a href="http://m.me/yajiami" target="_blank" class="fab fab-facebook mp-click" title="Facebook 客服">
    <span class="h2">
      <span class="fa fa-comments-o"></span>
    </span>
  </a>
</div>

<input type="hidden" id="footer-clock" value="<%= endDate %>">
